* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.verifyWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verifyMain {
    height: 60%;
    width: 80%;
    border: 1px solid #dedede;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.verifyForm {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.paraAtVerify_22{
    padding: 0 25px;
    font-weight: 300;
}

.verifyEmailformCenter_22>h1 {
    text-align: center;
}

.inputAtOTP_22 {
    background-color: #eaeaea;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 5px !important;
    width: 48px !important;
    aspect-ratio: 1/1 !important;
}

.lastSectionAtVerify_22 {
    width: 100%;
    padding: 0 35px;
    margin-bottom: 30px;

}

.VerifyOtpSubmitBtn_22 {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 17px;
    border-radius: 5px;
    width: 100%;
    background-color: #7522e6;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.verifyEmailLastLink_22 {
    width: 100%;
    display: flex;
    font-size: small;
    justify-content: space-between;
}

.verifyEmailLastLink_22>button {
    font-size: small;
    cursor: pointer;
}

.verifyEmailLastLinkStyle_22 {
    text-decoration: none;
    color: black;
}