/* Universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

.wrapper {
  min-height: 100vh;
  width: 100%;
}

/* Header */

header {
  width: 100%;
}

/* Nav */

nav {
  margin: 0 auto;
  margin-top: 20px;
  width: 1262px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid rgba(11, 66, 112, 0);
  background: rgba(235, 236, 240, 0.5);
  box-shadow: -5px -5px 15px 0px #fff, 7px 7px 23.5px 0px #d1d9e6;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #0B427000, #060E3F);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#eventechoLogo {
  position: relative;
  left: 15px;
  height: 40px;
  width: 100px;
}
nav .event {
  width: 10%;
}

nav .components {
  width: 45%;
}

nav .components ul {
  display: flex;
  justify-content: space-around;
}

nav .components ul li {
  position: relative;
  list-style-type: none;
  transition: all 200ms linear;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

nav .components ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav .button button {
  padding: 14px 25px 14px 27px;
  border-radius: 9999px;
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #0a142f;
  transition: all 200ms linear;
}

/* Hover */

nav .components ul li:hover {
  transform: scale(1.3);
  font-weight: 700;
  margin: 0 6px;
}

nav .button button:hover {
  transform: scale(1.1);
}

/* Main */

main {
  min-height: 100vh;
}

/* Hero Section */

.hero {
  width: 100%;
  height: 1404px;
  position: relative;
  margin-top: 29px;
}

.hero .desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 30px;
}

.hero .desc h1 {
  color: var(--main-to, #0a142f);
  text-align: center;
  font-family: Rubik;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 100% */
}

.hero .desc h2 {
  color: var(--main-to, #0a142f);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 133.333% */
}

.hero .desc button {
  height: 56px;
  padding: 14px 25px 14px 27px;
  border-radius: 9999px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #0a142f;
  transition: all 200ms linear;
}

.hero .content {
  position: absolute;
  top: 867px;
  width: 100%;
  height: 537px;
  background-color: #0a142f;
  z-index: -10;
}

.hero .content div {
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
}

.hero .content div h1 {
  position: absolute;
  top: 242px;
  left: 210px;
  width: 394.11px;
  height: 131px;
  color: #fff;
  font-family: Rubik;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 100% */
}

.hero .content div p {
  position: absolute;
  top: 249px;
  left: 800px;
  width: 550.197px;
  height: 138px;
  color: #bdcaff;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 190% */

}

/* Image */

#ellipse3 {
  position: absolute;
  top: 0px;
  left: 1206px;
}

#ellipse1 {
  position: absolute;
  top: 190px;
  left: 308px;
}

#ellipse2 {
  position: absolute;
  top: 284px;
  left: 236px;
}

#image2 {
  position: absolute;
  top: 230px;
  left: 430px;
}

#image3 {
  position: absolute;
  top: 840px;
  left: 96px;
  z-index: 10;
}
#yellowVector {
  position: absolute;
  top: 171px;
  left: 957px;
  z-index: -1;
}
#image {
  position: absolute;
  top: 260px;
  left: 1158px;
  z-index: 10;
}

#hero {
  position: absolute;
  top: 361px;
  right: 154px;
}

#vector {
  position: absolute;
  left: 0.91px;
  top: 706.07px;
  z-index: -1;
}
/* Hover */

main .hero .desc div button:hover {
  transform: scale(1.15);
}

/* Why Us */

.whyUs {
  position: relative;
}

#vector1{
    
}

#vector2{
  
}